<main class="container">
    <div class="posts">
        <!-- Post 1 -->
        <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/espaguete-marisco-com-molho-de-tomate-decorado-com-belos-ingredientes_1150-26427.jpg?t=st=1743555127~exp=1743558727~hmac=80c12a21285773ee7dbac66c9769b8c37ed98c6a095f14e48ddef072634d2ea4&w=740" alt="Prato de massa" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Massa Carbonara Tradicional</h2>
                <p class="post-excerpt">Descubra os segredos para preparar uma autêntica massa carbonara italiana, com dicas de chef.</p>
                <div class="post-meta">
                    <span>Por: Maria Silva</span>
                    <span>15 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
        
        <!-- Post 2 -->
        <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/mao-em-close-tirando-foto-de-pizza_23-2148773531.jpg?t=st=1743555188~exp=1743558788~hmac=55ff6ea689d4c9d52605f6d78040078fc186078e2a0993dda6f0abdc3b35e229&w=1380" alt="Sobremesa de chocolate" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Sobremesas com Chocolate</h2>
                <p class="post-excerpt">5 receitas irresistíveis de sobremesas com chocolate para adoçar qualquer momento.</p>
                <div class="post-meta">
                    <span>Por: João Costa</span>
                    <span>10 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
        
        <!-- Post 3 -->
        <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/cogumelos-salteados-com-abobora-e-pimentao_2829-10315.jpg?t=st=1743555241~exp=1743558841~hmac=29da6d0ba7198436c8b97561a311f47f3a9976b119b04d16545762db925307c8&w=1380" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
         <!-- Post 4 -->
         <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/delicioso-ensopado-de-goulash-na-mesa_23-2149371727.jpg?t=st=1743555290~exp=1743558890~hmac=af67095b95f13ed22800a78eb34720fb58b222fffefa285bb9f479b1f41c6c34&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 5 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/bifes-de-carne-com-batatas-fritas-e-guarnicao-de-arroz_114579-4420.jpg?t=st=1743555979~exp=1743559579~hmac=33eeff7c42235ccf3da000743042a28366f8104e305e736fcc96916e4b42ddac&w=1380" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 6 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/bife-com-batatas-fritas-molho-de-maionese-de-creme-de-leite-e-ervas-na-placa-de-madeira_114579-33.jpg?t=st=1743555924~exp=1743559524~hmac=124e410b48081b4311cca218b0051ce8007f26fbbb862c5afd4a06322213189d&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 7 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/penne-pasta-cream-cheese_1339-3961.jpg?t=st=1743555831~exp=1743559431~hmac=4c2a4e74701b1c0eb3a050e7d9af8f7574506d891d676dfad07aae6ecd8467ae&w=1380" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 8 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/closeup-de-carne-assada-com-molho-legumes-e-batatas-fritas-em-um-prato-sobre-a-mesa_181624-35847.jpg?t=st=1743555764~exp=1743559364~hmac=fa341848ad186985c45d55442ce51eb90ca0748b2d84475d3b264ed9126e49fd&w=1380" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 9 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/composicao-de-ingredientes-helathy-moderna_23-2147859389.jpg?t=st=1743555720~exp=1743559320~hmac=4822cddf733c20eafac14dae95bf28bb711b7e80cae891aec6bd00ebbf9bd61a&w=1380" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 10 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/robalo-assado-com-legumes_2829-14053.jpg?t=st=1743555703~exp=1743559303~hmac=d260a9b0c7447d9a4aa6b9503c313197082ce1661cc7688995a9a6e450ee2691&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 11 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/vista-superior-de-colheres-de-varios-molhos-em-cinza_140725-12587.jpg?t=st=1743555664~exp=1743559264~hmac=56a6baa066c0732ca6a5bd38be4823605d98ed655757ae7163aa064d7fe108ad&w=826" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 12 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/delicioso-ensopado-de-goulash-na-mesa_23-2149371727.jpg?t=st=1743555290~exp=1743558890~hmac=af67095b95f13ed22800a78eb34720fb58b222fffefa285bb9f479b1f41c6c34&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 13 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/vista-superior-do-bife-de-salmao-grelhado-com-legumes-limao-e-especiarias-em-um-prato-branco-sobre-branco_140725-12389.jpg?t=st=1743555628~exp=1743559228~hmac=b87dd1cb66f6e82bb4fb27c423ad75c00468ffea552b8a2482a706a49da2926d&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 14 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/delicioso-ensopado-de-goulash-na-mesa_23-2149371727.jpg?t=st=1743555290~exp=1743558890~hmac=af67095b95f13ed22800a78eb34720fb58b222fffefa285bb9f479b1f41c6c34&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 15 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/salada-de-salmao-na-vista-de-cima-da-mesa_140725-5439.jpg?t=st=1743555596~exp=1743559196~hmac=9b998fb1c104a96ae124ebb9c32a163f349b11ed319e61391349ee2284fb5587&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 16 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/delicioso-ensopado-de-goulash-na-mesa_23-2149371727.jpg?t=st=1743555290~exp=1743558890~hmac=af67095b95f13ed22800a78eb34720fb58b222fffefa285bb9f479b1f41c6c34&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 17 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/delicioso-ensopado-de-goulash-na-mesa_23-2149371727.jpg?t=st=1743555290~exp=1743558890~hmac=af67095b95f13ed22800a78eb34720fb58b222fffefa285bb9f479b1f41c6c34&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 18 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/pizza-mista-grande-com-carne_140725-1274.jpg?t=st=1743555557~exp=1743559157~hmac=e464ade7d31732dc36580ce292b9d3a299b18709d88f90cf24f65c8a5cafb399&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 19 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/delicioso-ensopado-de-goulash-na-mesa_23-2149371727.jpg?t=st=1743555290~exp=1743558890~hmac=af67095b95f13ed22800a78eb34720fb58b222fffefa285bb9f479b1f41c6c34&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>
          <!-- Post 20 -->
          <article class="post">
            <img src="https://img.freepik.com/fotos-gratis/vista-lateral-de-espaguete-com-pedacos-de-carne-e-tomate-em-uma-placa-de-madeira_140725-10215.jpg?t=st=1743555511~exp=1743559111~hmac=7690e356ef747ac37a4125ca08d23a26e8a8a03bd27ebecdfdfa2ec3e1cf27ec&w=740" alt="Salada fresca" class="post-image">
            <div class="post-content">
                <h2 class="post-title">Saladas Frescas de Verão</h2>
                <p class="post-excerpt">Opções refrescantes e nutritivas para os dias quentes, com ingredientes da estação.</p>
                <div class="post-meta">
                    <span>Por: Ana Souza</span>
                    <span>5 Mar 2025</span>
                </div>
                <a href="#" class="read-more">Ler mais</a>
            </div>
        </article>

    </div>
</main>
